/* You can add global styles to this file, and also import other style files */
@import '@aws-amplify/ui-angular/theme.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.ui-toast {
  top: 70px !important;
  right: 30px !important;
}


body {
  margin: 0;
  padding: 0;
}

html,
* {
  box-sizing: border-box;
  --bg-login: #8B4513;
  --bg-sidenav: #6B3410;
  --bg-body: #FFF8F0;
  --bg-card: #fff;
  --color-sidenav-item: #F5DEB3;
  --bg-sidenav-item-active: #FFE4B5;
  --color-sidenav-item-active: #6B3410;
  --color-primary: #D2691E;
  --color-secondary: #8B4513;
  --color-accent: #FFD700;
  --color-fresh: #90EE90;
}

body {
  position: relative;
  font-family: var(--font-family), 'Roboto', sans-serif;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
